html,body{
    margin: 0;
    padding: 0;
}

/*style*/

.left{
    width: 200px;
    height: 200px;
    background: #0f0;
    position: absolute;
}
.right{
    height: 200px;
    background: #f00;
    position: absolute;
    left: 200px;
    right: 0;
}