html,body{
    margin: 0;
    padding: 0;
}
.clear-float::after,.clear-float:after{
    content: "";
    display: block;
    clear: both;
}
/*nav part*/
.nav{
    height: 40px;
    background: #f5f5f5;
}
.nav_menu{
    width: 1018px;
    height: 40px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.nav_left{
    width: 235px;
    float: left;
    color:#6c6c6c;
}
.nav_left>*{
    text-align: center;
    display: inline-block;
    line-height: 40px;
    font-size: 12px;
    margin-right: 7px;
}
.nav_left>:nth-child(1){
    color: #f22e00;
}
.nav_right{
    width: auto;
    float: right;
    color:#6c6c6c;
}
.nav_right>*{
    text-align: center;
    display: inline-block;
    line-height: 40px;
    font-size: 13px;  
    margin-right: 6px;
}
.nav_right>em{
    width: 12px;
    height: 12px;
}
.nav_right>.angle{
    width: 7px;
    height: 3px;
    background: url("./images/tb_01_03.png") no-repeat;
    position: relative;
    top: -2px;
    left: 2px
}
.nav_right>:nth-child(3){
    background: url("./images/tb_03.png") no-repeat;
    position: relative;
    top: 1px;
    margin-right: -2px;
}
.nav_right>:nth-child(6){
    background: url("./images/tb_05.png") no-repeat;
    position: relative;
    top: 1px;
    margin-right: -3px;
}
.nav_right>:nth-child(15){
    background: url("./images/tb_08.png") no-repeat;
    position: relative;
    top: 4px;
    margin-right: -3px
}
.nav_left>*:hover,.nav_right>*:hover{
    color: #f22e00;
}

/*cup part*/

.cup{
    width:1018px;
    height: 166px;
    background: #fff;
    margin: 0 auto;
}
.cup .logo{
    width: 110px;
    height: 54px;
    background: url("./images/tb_logo.png") no-repeat;
    margin-top: 20px;
    margin-left: 22px;
    float: left;
}
.cup .tb_search{
    position: relative;
    float: left;
    margin-top: 20px;
    margin-left: 76px;
}
.cup .search_tab{
    width: 52px;
    height: 30px;
    color: #ff4400;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    line-height: 30px;
}
.search_tab.tab1>.search_box{
    z-index: 100;
}
.search_box input{
    width: 504px;
    height: 40px;
    border: 2px solid #ff5500;
    position: absolute;
    left: 0;
    z-index: 0;
}
.search_box span{
    width: 122px;
    line-height: 42px;
    color: #fff;
    font-family:"SimSun";
    font-size:  20px;
    font-weight:bold;
    text-align: center;
    display: block;
    background: #ff5500;
    border: 2px solid #ff5500;
    position: absolute;
    top: 30px;
    left: 504px;
    z-index: 0;
}
.search_tab:hover {
    color: #fff;
    font-weight: bold;
    background: #ff5500;
}
.search_tab.tab2:hover{
    background: #c40000;
   
}
.search_tab.tab2:hover input{
    border: 2px solid #c40000;
    z-index: 10;
}
.search_tab.tab2:hover .search_box span{
    background: #c40000;
    border: 2px solid #c40000;
    z-index: 10;
}
 .search_tab:hover .box1 input {
    z-index: 100;
} 
.tb_search .highser{
    width: 24px;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 640px;
    font-size: 12px;
    color: #6c6c6c;
}
.qrcode{
    width: 117px;
    height:114px;
    font-size:12px;
    color: #ff5500; 
    margin-top: 40px;
    margin-left: 1018px;
}
.qrcode .close{
    width: 21px;
    height: 21px;
    background: url("./images/tbx_03.png") no-repeat;
    float: left;
}
.qrcode span{
    margin-left: 10px;
    text-align: center;
}
.qrcode .code{
    width: 96px;
    height: 102px;
    background: url("./images/tb22_03.png") no-repeat;
    float: left;
    margin-top: 16px;
}
.tb_search .em1{
    width: 14px;
    height: 14px;
    background: url(./images/tb_03_03.png) no-repeat;
    position: absolute;
    top: 45px;
    left: 15px;
    z-index: 100;
}
.tb_search .em2{
    width: 17px;
    height: 14px;
    background: url(./images/tb_03_04.png) no-repeat;
    position: absolute;
    top: 45px;
    left: 470px;
    z-index: 100;
}
.hotsale{
    width: 626px;
    text-align: center;
    font-size:12px;
    color: #6c6c6c;
    position: absolute;
    top: 185px;
    margin-left: 192px;
}
.hotsale>:nth-child(3){
    color: #ff4400;
}
.hotsale *{
    margin-right: 6px;
}
.hotsale *:hover{
    color: #ff4400;
}
.main_market{
    width :190px;
    height: 36px;
    background: #ff6537;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    line-height: 36px;
    margin-left: 28px;
}
.main_market .em{
    width: 15px;
    height: 15px;
    background: url("./images/tb_09.png") no-repeat;
    float: right;
    margin-top: 10px;
    margin-right: 8px;
}
.hotplace {
    width: 850px;
    text-align: center;
    display: inline-block;
    line-height: 28px;
    position: absolute;
    margin-top: 5px;
    margin-left: 18px;
}
.hotplace .hotp1{
    width: 226px;
    height: 28px;
    color: #ff6537;
    font-weight: bold;
    font-size: 16px;
    float: left;
}
.hotplace .hotp1 *{
    margin-right: 24px;
}
.hotplace .hotp2{
    width: 608px;
    height: 28px;
    color: #3c3c3c;
    font-weight: bold;
    font-size: 14px;
    float: left;
}
.hotplace .hotp2 *{
    margin-right: 14px;
}
.hotplace span:hover{
    color: #fff;
    background: #f22e00;
    border-radius: 10px;
}
/*banner_nav part*/
.banner_nav{
    background: #f5f5f5;
    position: absolute;
    top: 250px;
    left: 28px;
}
.product{
    width: 904px;
    height: 520px;
    background: #0f0;
}
.product .tab{
    width: 190px;
}
.product .kind{
    width: 190px;
    height: 30px;
    background: #ff6537;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.product .em1{
    width: 17px;
    height: 15px;
    float: left;
}
.product .em2{
    width: 17px;
    height: 15px;
    float: right;
    position: relative;
    margin-top: 6px;
    background: url("./images/17.png") no-repeat;
}
.product .kind span{
    float: left;
}
.tab.clothes .em1{
    background: url("./images/tblist_22.png") no-repeat;
}
.tab.bag .em1{
    background: url("./images/tblist_30.png") no-repeat;
}
.tab.toy .em1{
    background: url("./images/tblist_34.png") no-repeat;
}
.tab.tv .em1{
    background: url("./images/tblist_37.png") no-repeat;
}
.tab.beauty .em1{
    background: url("./images/tblist_40.png") no-repeat;
}
.tab.glasses .em1{
    background: url("./images/tblist_43.png") no-repeat;
}
.tab.sport .em1{
    background: url("./images/tblist_45.png") no-repeat;
}
.tab.game .em1{
    background: url("./images/tblist_47.png") no-repeat;
}
.tab.food .em1{
    background: url("./images/tblist_50.png") no-repeat;
}
.tab.flower .em1{
    background: url("./images/tblist_53.png") no-repeat;
}
.tab.house .em1{
    background: url("./images/tblist_55.png") no-repeat;
}
.tab.furniture .em1{
    background: url("./images/tblist_58.png") no-repeat;
}
.tab.car .em1{
    background: url("./images/tblist_60.png") no-repeat;
}
.tab.office .em1{
    background: url("./images/tblist_63.png") no-repeat;
}
.tab.goods .em1{
    background: url("./images/tblist_66.png") no-repeat;
}
.tab.study .em1{
    background: url("./images/tblist_68.png") no-repeat;
}
.product .little_ad{
    width: 190px;
    height: 40px;
    background: url("./images/tblb_71.png") no-repeat;
}
.product .content{
    width: 714px;
    height: 518px;
    border: 2px solid #ff5500;
    position: absolute;
    top: 0;
    right: 0;
    display: none; 
    z-index: 0;
}
.tab:hover>.kind{
    background: #f94a14;
}
.tab.clothes:hover .em1{
    background: url("./images/1.png") no-repeat;
}
.tab:hover .content{
    display: block;
    z-index: 1;
}
.tab.bag:hover .em1{
    background: url("./images/2.png") no-repeat;
}
.tab.toy:hover .em1{
    background: url("./images/3.png") no-repeat;
}
.tab.tv:hover .em1{
    background: url("./images/4.png") no-repeat;
}
.tab.beauty:hover .em1{
    background: url("./images/5.png") no-repeat;
}
.tab.glasses:hover .em1{
    background: url("./images/6.png") no-repeat;
}
.tab.sport:hover .em1{
    background: url("./images/7.png") no-repeat;
}
.tab.game:hover .em1{
    background: url("./images/8.png") no-repeat;
}
.tab.food:hover .em1{
    background: url("./images/9.png") no-repeat;
}
.tab.flower:hover .em1{
    background: url("./images/10.png") no-repeat;
}
.tab.house:hover .em1{
    background: url("./images/11.png") no-repeat;
}
.tab.furniture:hover .em1{
    background: url("./images/12.png") no-repeat;
}
.tab.car:hover .em1{
    background: url("./images/13.png") no-repeat;
}
.tab.office:hover .em1{
    background: url("./images/14.png") no-repeat;
}
.tab.goods:hover .em1{
    background: url("./images/15.png") no-repeat;
}
.tab.study:hover .em1{
    background: url("./images/16.png") no-repeat;
}
.conclothes{
    width: 456px;
    position: absolute;
    left: 16px;

}
.conclothes .up {
    width: 436px;
    position: relative;
    margin-bottom: 5px;
    border-bottom: 1px solid #eaeaea;
}
.conclothes .down span{
    line-height: 21px;
    margin-right: 16px
}
.womantab{
    margin-top: 30px;
}
.womantab .em3{
    width: 30px;
    height: 30px;
    background: url("./images/b1.png") no-repeat;
}
.womantab .em3>span{
    position: absolute;
    top: 10px;
    left: 30px;
    font-weight: bold;
}
.womantab .up>span{
    font-size: 12px;
    position: absolute;
    top: 12px;
    right: 0;
}
.womantab .down>span{
    font-size: 12px;
    color: #6c6c6c;
    margin-top: 10px;
}
.womantab .down>span:nth-child(1),.womantab .down>span:nth-child(2),.womantab .down>span:nth-child(4){
    color: #ff6537;
}
.womantab .down>span:nth-child(6),.womantab .down>span:nth-child(8),.womantab .down>span:nth-child(11){
    color: #ff6537;
}
.womantab .down>span:nth-child(14),.womantab .down>span:nth-child(16),.womantab .down>span:nth-child(17){
    color: #ff6537;
}
.womantab .down>span:nth-child(23),.womantab .down>span:nth-child(28),.womantab .down>span:nth-child(30){
    color: #ff6537;
}
.mantab{
    margin-top: 30px;
}
.mantab .em3{
    width: 30px;
    height: 30px;
    background: url("./images/b2.png") no-repeat;
}
.mantab .em3>span{
    position: absolute;
    top: 10px;
    left: 30px;
    font-weight: bold;
}
.mantab .up>span{
    font-size: 12px;
    position: absolute;
    top: 12px;
    right: 0;
}
.mantab .down>span{
    font-size: 12px;
    color: #6c6c6c;
    margin-top: 10px;
}
.mantab .down>span:nth-child(1),.mantab .down>span:nth-child(2),.mantab .down>span:nth-child(3){
    color: #ff6537;
}
.mantab .down>span:nth-child(5),.mantab .down>span:nth-child(6),.mantab .down>span:nth-child(10){
    color: #ff6537;
}
.mantab .down>span:nth-child(12),.mantab .down>span:nth-child(13),.mantab .down>span:nth-child(22){
    color: #ff6537;
}
.mantab .down>span:nth-child(24),.mantab .down>span:nth-child(31),.mantab .down>span:nth-child(32){
    color: #ff6537;
}
.undertab{
    margin-top: 30px;
}
.undertab .em3{
    width: 30px;
    height: 30px;
    background: url("./images/b3.png") no-repeat;
}
.undertab .em3>span{
    position: absolute;
    top: 10px;
    left: 30px;
    font-weight: bold;
}
.undertab .up>span{
    font-size: 12px;
    position: absolute;
    top: 12px;
    right: 0;
}
.undertab .down>span{
    font-size: 12px;
    color: #6c6c6c;
    margin-top: 10px;
}
.undertab .down>span:nth-child(2),.undertab .down>span:nth-child(5),.undertab .down>span:nth-child(7){
    color: #ff6537;
}
.undertab .down>span:nth-child(12),.undertab .down>span:nth-child(18),.undertab .down>span:nth-child(21){
    color: #ff6537;
}
.undertab .down>span:nth-child(27){
    color: #ff6537;
}
.youlike{
    width: 254px;
    height: 518px;
    background: #f4f4f4;
    position: absolute;
    right: 0;
}
.ulike{
    width: 182px;
    height: 34px;
    border-top: 1px solid #eaeaea;
    position: absolute;
    top: 26px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.ulike em{
    width: 21px;
    height: 20px;
    background: url("./images/tbyl_134.png") no-repeat;
    position: absolute;
    top: -10px;
    left: 50px;
}
.ulike>:nth-child(2){
    font-weight: bold;
    position: absolute;
    top: -10px;
    left: 75px;
}
.ulike>:nth-child(4){
    font-size: 12px;
    color: #9c9c9c;
    position: absolute;
    top: 12px;
    left: 31px;
}
.youlike .piclike{
    width: 254px;
    height:400px;
    position: absolute;
    top: 74px;
    z-index: 10;
}
.youlike .pic{
    width: 112px;
    height: 112px;
    color: #6c6c6c;
    text-align: center;
    font-size: 12px;
    background: #00f;
    float: left;
}
.youlike .piclike>*:nth-child(2n-1){
    margin-left: 10px;
}
.youlike .piclike>*:nth-child(2n){
    float: right;
    margin-right: 10px;
}
.youlike .piclike>*:nth-child(3),.youlike .piclike>*:nth-child(4){
    margin-top: 35px;
}
.youlike .piclike>*:nth-child(5),.youlike .piclike>*:nth-child(6){
    margin-top: 35px;
}
.youlike .pic.one{
    background: url("./images/nv_1.jpg") no-repeat ;
}
.youlike .pic.two{
    background: url("./images/nv_2.jpg") no-repeat ;
}
.youlike .pic.three{
    background: url("./images/nv_3.jpg") no-repeat ;
}
.youlike .pic.four{
    background: url("./images/nv_4.jpg") no-repeat ;
}
.youlike .pic.five{
    background: url("./images/nv_5.jpg") no-repeat ;
}
.youlike .pic.six{
    background: url("./images/nv_6.jpg") no-repeat ;
}
.youlike .pic div{
    background-color: rgba(255,255,255,0.6);
    margin-top: 96px;
}
.piclike>.pic:hover{
    color: #f94a14;
}