html,body{
    margin: 0;
    padding: 0;
}

.clear-float::after,.clear-float:after{
    content: "";
    display: block;
    clear: both;
}

/*nav 样式*/
.nav_nav{
    height: 40px;
    width: auto;
    background: #2577e3;
}
.nav{
    width: 980px;
    height: 40px;
    background: #2577e3;
    font: initial;
    position: absolute;
    margin: 0 auto;
}
.nav>.tab{
    height: 40px;
    float: left;
    color:#fff;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    margin-right: 20px;
    /*position: relative;*/
}
.nav>.tab1{
    width: 32px;
    height: 40px;
    float: left;
    color:#fff;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    margin-right: 20px;
    margin-left: 86px;
}
/*.nav .angle{
    border: solid;
    border-color: #fff #2577e3 #2577e3 #2577e3;
    border-width: 4px 4px 0px 4px;
    position: absolute;
    top: 20px;
    right: -14px;
}*/
.nav>.tab_right{
    width:162px;
    height: 40px;
    color: #fff;
    background: #ff9913;
    position: absolute;
    font-size: 14px;
    right: 80px;
}
.nav>.tab_right>span{
    margin-left: 8px;
}
.nav .angle_right{
    border: solid;
    border-color: #fff #ff9913 #ff9913 #ff9913;
    border-width: 4px 4px 0px 4px;
    position: absolute;
    top: 28px;
    margin-left: 70px;
}
/*.nav>.tab>.angle_down{
    border: solid;
    border-color: #2577e3 #2577e3 #fff #2577e3;
    border-width: 0px 8px 8px 8px;
    position: absolute;
    top: 32px;
    margin-left: 10px;
    display: none;
}*/
.nav .content{
    color: rgb(51, 51, 51);
    background: #fff;
    
    height:40px;
    position: absolute;
    border-top: none;
    border-right: 1px solid #2577e3;
    border-bottom: 1px solid #2577e3;
    border-left: 1px solid #2577e3;
    left: 0px;
}
.nav .tab:hover>.angle_down{
    display: block;
}
.nav .tab:hover>.content{
    border: solid;
    border-color: #2577e3 #2577e3 #fff #2577e3;
    border-width: 0px 8px 8px 8px;
    position: absolute;
    top: 32px;
    margin-left: 10px;
}
/*.nav_tab{
    width: 1032px;
    height: 42px;
    background: url("./image/nav_tab.png") no-repeat;
}*/